Repository Jamen1147/react-node-express-typescript-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, yarn eslint, yarn stylelint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,md,html,css,scss,json}": "prettier --write",
  "*.{js,ts,tsx}": "yarn eslint",
  "*.{css,scss}": "yarn stylelint"
}

chore: ignore reports, local configs, cache files
  .gitignore
Due: none

chore: ignore node_modules
  .stylelintignore
Due: none

docs: updated readme
  README.md
Due: prettier --write

refactor: move env file to src
  packages/client/env.ts
Due: prettier --write, yarn eslint

chore: minor setting changes
  .eslintrc.json
  .lintstagedrc.json
  package.json
  yarn.lock
Due: prettier --write

docs: udpated readme
  README.md
Due: prettier --write

docs: updated readme
  packages/client/README.md
Due: prettier --write

style: remove console log
  packages/client/scripts/paths.js
Due: prettier --write, yarn eslint

feat: added Wizard form component with react-hook-form
  packages/components/package.json
  packages/components/src/components/Wizard/Step.tsx
  packages/components/src/components/Wizard/Wizard.module.scss
  packages/components/src/components/Wizard/Wizard.tsx
  packages/components/src/components/Wizard/index.ts
  packages/components/src/components/index.ts
Due: prettier --write, yarn eslint, yarn stylelint

style: remove typing T prefix
  packages/components/src/components/Button/Button.stories.tsx
  packages/components/src/components/Button/Button.tsx
  packages/components/src/components/Input/Input.stories.tsx
  packages/components/src/components/Input/Input.tsx
  packages/components/src/components/Input/InputStyle.tsx
  packages/components/src/components/Loader/Loader.stories.tsx
  packages/components/src/components/Loader/Loader.tsx
  packages/components/src/components/TextArea/TextArea.stories.tsx
  packages/components/src/components/TextArea/TextArea.tsx
Due: prettier --write, yarn eslint

fix: fix react mapChildren util typing
  packages/common/utils/element.ts
Due: prettier --write, yarn eslint

feat: add useSteps hook
  packages/common/hooks/index.ts
  packages/common/hooks/useSteps.ts
Due: prettier --write, yarn eslint

fix: fix wizard step typing
  packages/components/src/components/Wizard/Step.tsx
Due: prettier --write, yarn eslint

feat: added wizard context
  packages/components/src/components/Wizard/Wizard.tsx
  packages/components/src/components/Wizard/context.ts
Due: prettier --write, yarn eslint

docs: updated readme
  packages/components/README.md
Due: prettier --write

test: improve test cases
  packages/components/src/components/Button/Button.test.tsx
  packages/components/src/components/Input/Input.test.tsx
  packages/components/src/components/Input/InputStyle.tsx
  packages/components/src/components/TextArea/TextArea.test.tsx
  packages/components/src/setupTests.ts
Due: prettier --write, yarn eslint

docs: minor storybook changes
  packages/components/src/components/Loader/Loader.stories.tsx
Due: prettier --write, yarn eslint

feat: added css styles to component
  packages/components/src/components/Wizard/Wizard.module.scss
  packages/components/src/components/Wizard/Wizard.tsx
Due: prettier --write, yarn eslint, yarn stylelint

docs: added wizard component to storybook
  packages/components/src/components/Wizard/Wizard.stories.tsx
Due: prettier --write, yarn eslint

feat: added modal component
  packages/components/src/components/Modal/Modal.module.scss
  packages/components/src/components/Modal/Modal.stories.tsx
  packages/components/src/components/Modal/Modal.test.tsx
  packages/components/src/components/Modal/Modal.tsx
  packages/components/src/components/Modal/ModalBody.tsx
  packages/components/src/components/Modal/ModalFooter.tsx
  packages/components/src/components/Modal/ModalHeader.tsx
  packages/components/src/components/Modal/index.ts
  packages/components/src/components/Portal/Portal.tsx
  packages/components/src/components/Portal/index.ts
  packages/components/src/components/index.ts
Due: prettier --write, yarn eslint, yarn stylelint

feat: added refresh token
  packages/server/config/development.json
  packages/server/config/production.json
  packages/server/config/staging.json
  packages/server/config/test.json
  packages/server/src/@types/config.d.ts
  packages/server/src/@types/express.d.ts
  packages/server/src/constants/cookie.ts
  packages/server/src/helpers/auth.ts
  packages/server/src/helpers/database.ts
  packages/server/src/middlewares/authorize.ts
  packages/server/src/models/User.ts
  packages/server/src/repositories/base.ts
  packages/server/src/routes/auth/index.ts
  packages/server/src/services/auth.ts
Due: prettier --write, yarn eslint

feat: added error boundary
  packages/client/src/App/App.tsx
  packages/client/src/App/Routes/Routes.tsx
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
  packages/client/src/components/ErrorBoundary/index.ts
Due: prettier --write, yarn eslint

feat: added error boundary
  packages/client/src/App/App.tsx
  packages/client/src/components/ErrorBoundary/ErrorBoundary.tsx
Due: prettier --write, yarn eslint

feat: added response interceptor to refresh token automatically
  packages/client/src/services/base/base.ts
  packages/client/src/services/base/interceptors.ts
  packages/client/src/services/utils/refreshToken.ts
  packages/client/src/services/utils/requestCache.ts
  packages/client/src/services/utils/statusCode.ts
Due: prettier --write, yarn eslint

chore: minor linting settings update
  .eslintrc.json
  .stylelintrc.json
  yarn.lock
Due: prettier --write

chore: updated config
  packages/server/config/development.json
  packages/server/config/production.json
  packages/server/config/staging.json
  packages/server/config/test.json
Due: prettier --write

feat: updated typings
  packages/server/src/@types/config.d.ts
  packages/server/src/@types/express.d.ts
Due: prettier --write, yarn eslint

feat: removed mocha and added jest
  packages/server/babel.config.js
  packages/server/package.json
  packages/server/tsconfig.json
  yarn.lock
Due: prettier --write, yarn eslint

refactored: small refactoring
  packages/server/src/app.ts
  packages/server/src/constants/cookie.ts
  packages/server/src/helpers/auth.ts
  packages/server/src/helpers/env.ts
  packages/server/src/helpers/httpError.ts
  packages/server/src/helpers/spec/auth.spec.ts
  packages/server/src/middlewares/authorize.ts
  packages/server/src/middlewares/errorHandler.ts
  packages/server/src/middlewares/responseWrapper.ts
  packages/server/src/repositories/base.ts
  packages/server/src/repositories/spec/base.spec.ts
  packages/server/src/routes/auth/handlers.ts
  packages/server/src/routes/auth/index.ts
  packages/server/src/routes/auth/validation.ts
  packages/server/src/routes/auth/validations.ts
  packages/server/src/routes/user/handlers.ts
  packages/server/src/routes/user/index.ts
  packages/server/src/routes/user/user.spec.ts
  packages/server/src/routes/user/validation.ts
  packages/server/src/routes/user/validations.ts
  packages/server/src/routes/value/index.ts
  packages/server/src/routes/waether/index.ts
  packages/server/src/services/auth.ts
  packages/server/src/services/auth/auth.spec.ts
  packages/server/src/services/auth/auth.ts
  packages/server/src/services/index.ts
  packages/server/src/services/user.ts
  packages/server/src/services/user/user.spec.ts
  packages/server/src/services/user/user.ts
  packages/server/src/types/auth.ts
  packages/server/tests/index.test.ts
  packages/server/tests/routes/value.test.ts
  packages/server/tests/routes/weather.test.ts
Due: prettier --write, yarn eslint
