Repository Jamen1147/react-node-express-typescript-template: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --cache --fix, yarn style:lint:client

feat: added user router, mongoose, repos and services
  server/package.json
  server/src/@types/config.d.ts
  server/src/app.ts
  server/src/helpers/auth.ts
  server/src/helpers/database.ts
  server/src/helpers/httpError.ts
  server/src/middlewares/authorize.ts
  server/src/middlewares/responseWrapper.ts
  server/src/middlewares/validator.ts
  server/src/models/User.ts
  server/src/repositories/base.ts
  server/src/repositories/index.ts
  server/src/repositories/user.ts
  server/src/routes/user/index.ts
  server/src/routes/user/validations.ts
  server/src/services/user.ts
  server/yarn.lock
Due: prettier --write, eslint --cache --fix

feat: added configs
  server/config/test.json
Due: prettier --write

test: added tests for user routes
  server/tests/routes/user.test.ts
  server/tests/routes/value.test.ts
  server/tests/routes/weather.test.ts
Due: prettier --write, eslint --cache --fix

feat: added craco scripts to add for lodash and rtl plugins to webpack
  client/scripts/craco.config.js
Due: prettier --write, eslint --cache --fix

feat: added a few components, api services, redux stores etc
  client/src/api/base.ts
  client/src/api/interceptors.ts
  client/src/api/services/auth.ts
  client/src/api/services/user.ts
  client/src/api/types/auth.ts
  client/src/api/types/response.ts
  client/src/api/types/user.ts
  client/src/components/App/App.tsx
  client/src/components/ErrorBoundary/ErrorBoundary.tsx
  client/src/components/ErrorBoundary/index.ts
  client/src/components/shared/Button/Button.module.scss
  client/src/components/shared/Button/Button.tsx
  client/src/components/shared/Button/index.ts
  client/src/components/shared/Input/Input.tsx
  client/src/components/shared/Input/InputStyle.module.scss
  client/src/components/shared/Input/InputStyle.tsx
  client/src/components/shared/Input/index.ts
  client/src/components/shared/Loader/Loader.module.scss
  client/src/components/shared/Loader/Loader.tsx
  client/src/components/shared/Loader/index.ts
  client/src/components/shared/TextArea/TextArea.module.scss
  client/src/components/shared/TextArea/TextArea.tsx
  client/src/env.ts
  client/src/index.tsx
  client/src/stores/config.ts
  client/src/stores/history.ts
  client/src/stores/store.ts
  client/src/stores/user/actions.ts
  client/src/stores/user/reducer.ts
  client/src/stores/user/type.ts
  client/src/styles/variables.scss
  client/src/utils/element.ts
  client/src/utils/storage.ts
  client/src/utils/transform.ts
Due: prettier --write, eslint --cache --fix, yarn style:lint:client

feat: added env files
  client/.env.development
  client/.env.production
  client/.env.staging
Due: none

feat: added eslint to client scope that inherits the global
  client/.eslintignore
  client/.eslintrc.json
Due: prettier --write

feat: added craco, eslint and plugins, some babel plugins etc
  client/package.json
  client/yarn.lock
Due: prettier --write

refactor: change configs
  server/config/default.json
  server/config/test.json
Due: prettier --write

feat: added auth services and route
  server/src/@types/config.d.ts
  server/src/@types/express.d.ts
  server/src/app.ts
  server/src/helpers/auth.ts
  server/src/middlewares/authorize.ts
  server/src/routes/auth/index.ts
  server/src/routes/auth/validations.ts
  server/src/routes/user/index.ts
  server/src/routes/user/validations.ts
  server/src/services/auth.ts
  server/src/services/index.ts
  server/src/services/user.ts
Due: prettier --write, eslint --cache --fix

feat: added eslint and inherits the parent
  server/.eslintignore
  server/.eslintrc.json
Due: prettier --write

feat: added eslint
  server/package.json
  server/tests/routes/user.test.ts
  server/yarn.lock
Due: prettier --write, eslint --cache --fix

feat: added more scripts
  package.json
Due: prettier --write

refactor: change eslint config, change lintstage config
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
Due: prettier --write

revert: remove license file
  LICENSE
Due: none

feat: added storybook
  client/.storybook/main.js
  client/.storybook/preview.js
Due: prettier --write, eslint --cache --fix

feat: added stories to shared components
  client/src/assets/icons/plugin.svg
  client/src/components/shared/Button/Button.module.scss
  client/src/components/shared/Button/Button.stories.tsx
  client/src/components/shared/Button/Button.tsx
  client/src/components/shared/Input/Input.stories.tsx
  client/src/components/shared/Input/Input.tsx
  client/src/components/shared/Input/InputStyle.module.scss
  client/src/components/shared/Input/InputStyle.tsx
  client/src/components/shared/Loader/Loader.stories.tsx
  client/src/components/shared/Loader/Loader.tsx
  client/src/components/shared/TextArea/TextArea.module.scss
  client/src/components/shared/TextArea/TextArea.stories.tsx
  client/src/components/shared/TextArea/TextArea.tsx
  client/src/index.tsx
  client/src/styles/global.scss
Due: prettier --write, eslint --cache --fix, yarn style:lint:client

feat: added storybook files to be able to import src from devDeps
  client/.eslintrc.json
Due: prettier --write

feat: added storybook
  client/package.json
  client/yarn.lock
Due: prettier --write

feat: added cors
  server/config/default.json
  server/package.json
  server/src/app.ts
  server/src/helpers/auth.ts
  server/src/middlewares/authorize.ts
  server/yarn.lock
Due: prettier --write, eslint --cache --fix

feat: added basic routing and login form and etc
  client/src/api/base.ts
  client/src/components/App/App.tsx
  client/src/components/App/Routes/ConditionalRoute.tsx
  client/src/components/App/Routes/Routes.tsx
  client/src/components/App/Routes/index.ts
  client/src/components/App/__tests__/App.test.tsx
  client/src/components/ErrorBoundary/ErrorBoundary.tsx
  client/src/components/ErrorPage/ErrorPage.tsx
  client/src/components/ErrorPage/index.ts
  client/src/components/Form/FormInput.tsx
  client/src/components/HomePage/HomePage.tsx
  client/src/components/HomePage/index.ts
  client/src/components/LoginPage/LoginPage.tsx
  client/src/components/LoginPage/index.ts
  client/src/components/shared/Input/Input.tsx
  client/src/components/shared/TextArea/TextArea.tsx
  client/src/stores/user/actions.ts
  client/src/stores/user/reducer.ts
  client/src/stores/user/type.ts
  client/src/utils/storage.ts
Due: prettier --write, eslint --cache --fix

chore: disabled require-default-props
  client/.eslintrc.json
Due: prettier --write

feat: added react-final-form and react-router-dom
  client/package.json
  client/yarn.lock
Due: prettier --write

chore: add external source to babel-loader
  packages/client/scripts/craco.config.js
  packages/client/scripts/paths.js
Due: prettier --write, eslint --cache --fix

feat: added simple auth UI
  packages/client/src/App/App.module.scss
  packages/client/src/App/App.test.tsx
  packages/client/src/App/App.tsx
  packages/client/src/App/Routes/Routes.tsx
  packages/client/src/App/Routes/index.ts
  packages/client/src/components/Nav/Nav.module.scss
  packages/client/src/components/Nav/Nav.tsx
  packages/client/src/components/Nav/index.ts
  packages/client/src/context/global/GlobalProvider.tsx
  packages/client/src/context/global/config.ts
  packages/client/src/context/global/user/action.ts
  packages/client/src/context/global/user/reducer.ts
  packages/client/src/context/global/user/type.ts
  packages/client/src/context/utils.ts
  packages/client/src/env.ts
  packages/client/src/history.ts
  packages/client/src/hooks/useMutation.ts
  packages/client/src/hooks/useQuery.ts
  packages/client/src/pages/Home/Home.tsx
  packages/client/src/pages/Home/index.ts
  packages/client/src/pages/Login/Login.tsx
  packages/client/src/pages/Login/config.ts
  packages/client/src/pages/Login/index.ts
  packages/client/src/pages/Register/Register.tsx
  packages/client/src/pages/Register/index.ts
  packages/client/src/services/auth.ts
  packages/client/src/services/base/base.ts
  packages/client/src/services/base/interceptors.ts
  packages/client/src/utils/index.ts
  packages/client/src/utils/storage.ts
Due: prettier --write, eslint --cache --fix, yarn style:lint:client

chore: extending global eslint config and adding JSX to global
  packages/client/.eslintrc.json
Due: prettier --write

chore: test to pass with no tests
  packages/client/package.json
Due: prettier --write

feat: added dev config
  packages/server/config/development.json
  packages/server/config/production.json
  packages/server/config/staging.json
Due: prettier --write

feat: added logout route; used cookie to pass token
  packages/server/src/@types/config.d.ts
  packages/server/src/@types/express.d.ts
  packages/server/src/app.ts
  packages/server/src/helpers/env.ts
  packages/server/src/middlewares/authorize.ts
  packages/server/src/middlewares/errorHandler.ts
  packages/server/src/middlewares/responseWrapper.ts
  packages/server/src/routes/auth/index.ts
  packages/server/src/services/user.ts
Due: prettier --write, eslint --cache --fix

chore: added coverage script
  packages/server/package.json
Due: prettier --write

chore: minor setting changes
  packages/server/tsconfig.json
Due: prettier --write

refactor: components to be changed to named-export
  packages/components/src/components/Button/Button.tsx
  packages/components/src/components/Button/index.ts
  packages/components/src/components/Input/Input.tsx
  packages/components/src/components/Input/InputStyle.tsx
  packages/components/src/components/Input/index.ts
  packages/components/src/components/Loader/index.ts
  packages/components/src/components/TextArea/TextArea.tsx
  packages/components/src/components/TextArea/index.ts
  packages/components/src/react-app-env.d.ts
Due: prettier --write, eslint --cache --fix

chore: added test script
  packages/components/package.json
Due: prettier --write

chore: extended global eslint config, and added JSX to global
  packages/components/.eslintrc.json
Due: prettier --write

chore: minor settings changed
  packages/components/tsconfig.json
Due: prettier --write

feat: added status typing and made small changes to other typings
  packages/common/types/api/login.ts
  packages/common/types/api/register.ts
  packages/common/types/index.ts
  packages/common/types/status.ts
Due: prettier --write, eslint --cache --fix

chore: change eslint script targets
  packages/common/package.json
Due: prettier --write

chore: ignore some 3rd css files for stylelint
  packages/common/.stylelintignore
Due: none

feat: added some utility hooks
  packages/common/hooks/index.ts
  packages/common/hooks/useBreakpoint.ts
  packages/common/hooks/useIsMounted.ts
  packages/common/hooks/useMountedEffect.ts
Due: prettier --write, eslint --cache --fix

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,scss,json}
  eslint --cache --fix: any of: *.{js,ts,tsx}
  yarn style:lint:client: any of: *.{css,scss}
